body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #FFF8F3;

}


/* primaru style  */
.btn-primary {
    color: white;
    font-weight: 700;
    background-color: #FD6E0A;
    font-size: 20px;
    height: 64px;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;

}

/* primary style */



.header {
    background: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

/* navbar style */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;


}

.header-title {
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.header-title span {
    color: #FD6E0A;
}


.navbar ul {
    display: flex;
    align-items: center;

}

.navbar li {
    list-style: none;
    padding-left: 50px;
    font-size: 20px;
}

/* navbar style */

/* banner style start */

.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;

}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 70px;
    margin: 0;
}

.banner-description {
    font-size: 19px;
    margin-bottom: 20px;
}

/* banner style end */

main {
    max-width: 1140;
    margin: 0 auto;
}


/* about area start */


.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about-area {
    /* background-color: #FFF8F3; */
    margin: 100px;
    text-align: center;
    padding: 100px;
}

.about-ditals-area {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info-title {
    font-size: 18px;
    margin: 0;
}

.about-decription {
    margin-bottom: 20px;

}

.info-description {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

/* about area end */

/* work container start */

.work-container {
    margin: 200px 130px;

}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #ffffff;
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;

}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 18px;
}

.skill p {
    color: #757575;
}



/* work container end */


.resume-container {
    margin: 0 130px;
    margin-bottom: 50px;
}

.resume-area {
    display: flex;
    gap: 24px;
}