body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}


/* primaru style  */
.btn-primary{
    color: white;
    font-weight: 700;
    background-color: #FD6E0A;
    font-size: 20px;
    height: 64px;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;

}

/* primary style */



.header {
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

/* navbar style */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;


}

.header-title {
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.header-title span{
    color: #FD6E0A;
}


.navbar ul {
    display: flex;
    align-items: center;

}

.navbar li {
    list-style: none;
    padding-left: 50px;
    font-size: 20px;
}
/* navbar style */

/* banner style start */

.banner{
    display: flex;
    align-items: center;
    margin:0 200px ;
    
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-title{
    font-weight: 700;
    font-size: 70px;
    margin: 0;
}
.banner-description{
    font-size: 19px;
    margin-bottom: 20px;
}

/* banner style end */