body {
    font-family: 'Poppins', sans-serif;

}


/* primaru style  */
.btn-primary{
    color: white;
    font-weight: 700;
    background-color: #FD6E0A;
    font-size: 20px;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;

}

/* primary style */



.header {
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

/* navbar style */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;


}

.header-title {
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.header-title span{
    color: #FD6E0A;
}


.navbar ul {
    display: flex;
    
    align-items: center;

}

.navbar ul li {
    list-style: none;
    padding-left: 50px;
    font-size: 20px;
}
/* navbar style */